name: Checkstyle & PMD

on:
  push:
    branches:
      - main
      - master
      - develop
  pull_request:

jobs:
  codecheck:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 24 for build
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '24'

      - name: Run Checkstyle via Maven
        run: mvn checkstyle:check

      - name: PMD
        uses: pmd/pmd-github-action@v2.0.0
        id: pmd
        with:
          sourcePath: 'src/main/java'
          rulesets: 'pmd-ruleset.xml'

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-m2-

      - name: Run tests
        run: mvn -B -V -Dcheckstyle.skip=true -Dpmd.skip=true test

      - name: Fail build if there are violations
        if: steps.pmd.outputs.violations != 0
        run: exit 1