name: Checkstyle, PMD, tests

on:
  push:
    branches:
      - main
      - master
      - develop
  pull_request:

jobs:
  codecheck:
    runs-on: ubuntu-latest

    services:
      redis:
        image: redis:7-alpine
        ports:
          - 6379:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 24 for build
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '24'

      - name: Run Checkstyle via Maven
        run: mvn checkstyle:check

      - name: PMD
        run: mvn pmd:check

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-m2-

      - name: Run tests
        env:
          REDIS_HOST: localhost
          REDIS_PORT: 6379
        run: mvn -B -V -Dcheckstyle.skip=true -Dpmd.skip=true test

      - name: Fail build if there are violations
        if: steps.pmd.outputs.violations != 0
        run: exit 1